/** @format */

.about {
   color: white;
   margin-top: 50px;
   padding: 20px;

   @media (min-width: 768px) {
      margin-top: 100px;
   }

   @media (min-width: 1028px) {
     padding: 0 100px;
   }

   .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      div:first-child {
         display: flex;
         align-items: center;

         span {
            color: var(--colorSecondary);
         }

         h1,
         span {
            font-size: 19px;
            font-weight: 700;

            @media (min-width: 768px) {
               font-size: 24px;
            }
         }
      }

      .line {
         height: 1px;
         width: 200px;
         border-bottom: 1px solid rgb(147, 192, 188);
         margin-left: 30px;
         position: relative;
         top: 5px;

         @media (min-width: 768px) {
            width: 400px;
         }

         @media (min-width: 1028px) {
            width: 70%;
         }
      }
   }

   .details {
      display: flex;
      flex-direction: column-reverse;

      @media (min-width: 768px) {
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-evenly;
         margin-top: 50px;
      }

      .text {
         @media (min-width: 768px) {
           width: 400px;
         }

         @media (min-width: 1028px) {
            width: 700px
         }
         p {
            margin-bottom: 15px;
            opacity: 0.8;
            line-height: 24px;

            @media (min-width: 768px) {
               font-size: 19px;
               // text-align: justify;
               span {
                  font-size: 19px;
               }
            }

            span {
               color: var(--colorSecondary);
               font-weight: 700;
            }
         }
      }

      .tools {
         display: grid;
         grid-template-columns: 1fr 1fr;
         margin-top: 20px;

         @media (min-width: 1028px) {
            grid-template-columns: 1fr 1fr 1fr;
         }

         .tool {
            display: flex;
            align-items: center;
            gap: 3px;
            margin-bottom: 10px;

            .icon {
               color: var(--colorSecondary);
            }

            p {
               font-weight: 700;
               opacity: .8;
            }
         }
      }

      .image {
         display: flex;
         justify-content: center;
         margin: 50px 0;

        

         .container {
            padding: 5px;
            border: 1px solid var(--colorSecondary);
            img {
               width: 300px;
               filter: brightness(70%);
               transform: translate(-10px, -10px);
            }
         }
      }
   }
}
