/** @format */

.contact-container {
   color: white;
   margin-top: 50px;
   padding: 20px;
   padding-bottom: 100px;

   @media (min-width: 768px) {
      margin-top: 100px;
      padding-bottom: 100px;
   }

   @media (min-width: 1028px) {
      padding: 100px 100px;

   }
   .title {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      @media (min-width: 1028px) {
         margin-bottom: 150px;
      }

      div:first-child {
         display: flex;
         align-items: center;

         span {
            color: var(--colorSecondary);
         }

         h1,
         span {
            font-size: 19px;
            font-weight: 700;

            @media (min-width: 768px) {
               font-size: 24px;
            }
         }
      }

      .line {
         height: 1px;
         width: 70px;
         border-bottom: 1px solid rgb(147, 192, 188);
         margin-left: 30px;
         position: relative;
         top: 5px;

         @media (min-width: 768px) {
            width: 300px;
         }

         @media (min-width: 1028px) {
            width: 50%;
         }
      }
   }

   .contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .contact_details {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         flex-wrap: wrap;
         justify-content: space-between;
         border-bottom: 1px solid var(--colorSecondary);

         div {
            display: flex;
            align-items: center;
            margin: 10px 0;

            .icon {
               color: var(--colorSecondary);
               margin-right: 5px;
            }

            @media (min-width: 768px) {
               p {
                  font-size: 19px;
               }
            }
         }

         .social {
            a {
               font-size: 24px;
               transition: .3s ease-in;
               color: var(--colorSecondary);
            }

            a:hover {
               color: white
            }
         }
      }

      .form {
         margin-top: 20px;
         p {
            @media (min-width: 768px) {
               font-size: 19px;
            }
         }

         .form_field {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            label {
               @media (min-width: 768px) {
                  font-size: 17px;
               }
            }

            input,
            textarea {
               color: white;
               padding: 7px;
               border: 1px solid var(--colorSecondary);
               background: rgb(2, 6, 36);;
            }

            input:focus,
            textarea:focus {
               outline: none;
            }
         }

         .submit_btn {
            button {
               color: white;
               border: 1px solid var(--colorSecondary);
               padding: 6px 10px;
               transition: color .3s ease-in;
            }

            button:hover {
               color: var(--colorSecondary);
            }
         }
      }

      @media (min-width: 768px) {
         flex-direction: row;
         justify-content: center;
         width: 100%;
         gap: 30px;

         .contact_details {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            gap: 30px;
            border-bottom: none;

            div {
               flex-direction: column;
               align-items: flex-end;
            }
         }

         .form {
            border-left: 1px solid var(--colorSecondary);
            padding-left: 30px;
            .form_field {
               margin: 20px 0;
            }
         }
      }
   }
}
