.navbar {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   align-items: center;
   color: white;
   position: relative;

   @media (min-width: 768px) {
      padding: 40px 20px;
   }

   @media (min-width: 1028px) {
      padding: 50px 70px;
   }

   .logo {
      display: flex;
      align-items: center;
      gap: 7px;
      cursor: pointer;

      @media (min-width: 768px) {
         gap: 30px;
      }

      h1 {
         font-size: 24px;
         font-weight: 700;
         color: var(--colorSecondary);
         margin-right: 15px;
      }
      .social {
         color: var(--colorSecondary);
         margin-top: 5px;
      }

      .social:hover {
         color: white;
      }
   }

   

   .menu {
      display: flex;
      align-items: center;

      @media (min-width: 768px) {
         display: none;
      }

      .icon {
         font-size: 24px;
         color: var(--colorSecondary);
      }
      
   }

   .nav-items {
      display: none;

      .item {
         display: flex;
         gap: 15px;
         margin-bottom: 50px;
         cursor: pointer;

         span {
            color: var(--colorSecondary);
         }

         button {
            border: 1px solid var(--colorSecondary);
            color: white;
            padding: 5px 20px;
            cursor: pointer;
            transition: color .3s ease-in;
         }

         button:hover {
            color: var(--colorSecondary);
         }
      }

      .item:hover:not(:last-child) {
         border-bottom: 1px solid var(--colorSecondary);
      }

      @media (min-width: 768px) {
         display: flex;
         align-items: center;
         gap: 15px;

         .item {
            align-items: center;
            margin: 0;
            gap: 3px
         }
      }

      @media (min-width: 1028px) {
         gap: 30px;

         .item {
            gap: 7px;
         }
      }
   }

   .nav-items.active {
      position: absolute;
      top: 100%;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100vh;
      padding: 10px 20px;
      z-index: 10;
      background: rgb(2, 6, 36);;
   }
}